tmp
redshift*
houdini/otls/bak
.vscode
*.pyc
nuke
megaH
otl_manual_bak
batch_textures_convert
*.db
/utility_tools
/scripts
/houdini/startup_screen
nvidia_dlls
Sublime
htoa
zBrush
touchdesigner
raymarching
oiio